body {
  padding: 50px;
  background-image: url(../pics/background.jpg);
  background-size: cover;
  background-position: center center;
  text-align: center;
}

.panel {
  background-image: url(../pics/notecard.jpg);
  background-size: 300px 175px;
  padding: 20px;
  /* background-color: #ddd; */
  text-align: center;
  height: 175px;
  width: auto;
  -webkit-box-shadow: 5px 5px 28px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 5px 5px 28px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 5px 5px 28px -1px rgba(0, 0, 0, 0.49);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.def {
  display: none;
}

h1 {
  font-size: 4em;
  margin-bottom: 40px;
  font-family: 'Luckiest Guy', cursive;
  color: #fff;
  -webkit-text-stroke: 2px black;
}

.word {
  font-weight: bold;
  font-size: 1.5em;
}

.panel:hover {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  border: 1.5px solid #fefefe;
  -webkit-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.49);
  box-shadow: 10px 10px 28px -1px rgba(0, 0, 0, 0.49);
}